# Node
# These rules apply to all subdirectories
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js frontend
frontend/.next/
frontend/out/

# Hardhat backend
artifacts/
cache/
typechain-types/
coverage/
coverage.json
*.swp

# ZK
zk-build/
circuits/circomlib/
bin/

# Note Service
note-service/prisma/dev.db
note-service/prisma/dev.db-journal

# Environment variables
# These rules apply to all subdirectories
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db