# Dependencies
node_modules/
frontend/node_modules/

# Next.js
frontend/.next/
frontend/out/
frontend/.env.local

# Hardhat
artifacts/
cache/
typechain-types/
coverage/
coverage.json
*.swp

# ZK Build Artifacts
zk-build/
bin/

# OS
.DS_Store
Thumbs.db
